.main-section {
  position: absolute;
  width: 1408px;
  height: 688px;
  left: 16px;
  top: 16px;
  background-image: url('../../../../public/img/hero.png');
}

.hero-main {
  .navigation {
    .navigation-list {
      .active {
      }
    }
  }

  .hero-heading {
    .hero-text {
    }

    .hero-underline-text {
    }

    .search-section {
      form {
        input {
        }
        button {
        }
      }
    }
    .search-right-block {
    }
    .search-left-block {
    }
  }
}
