body {
  font-family: $base-font;
  font-size: 16px;
  background-color: var(--light);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  color: var(--white);
  margin: 16px;
  padding: 0;
}
